.App {
  text-align: center;
  text-shadow: #74ebd5 0.1em 0.1em 0.1em;
  color: #a569bd;
  scroll-padding-block: 100px;

  width: 100%;
  background-color: #f0f3f4;
  padding: 20pt;
  text-align: center;
}

input[type="date"] {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 2%, #9face6 90%);
  color: #a569bd;
  border: #8ae9d7;
}
textarea[type="text"] {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 2%, #9face6 90%);
  color: #a569bd;
  border: #8ae9d7;
}

#pastrecords {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 2%, #9face6 90%);
  color: #a569bd;
  border: #8ae9d7;
}

#outercontainer {
  background-color: #74ebd5;
  grid-template-columns: auto;
}

#inputarea {
  background-color: #a569bd;
}
